<!-- <div class="row"> -->
<p *ngIf="mensagem" class="alert alert-info">{{mensagem}}</p>
<!-- </div> -->
<div class="row">
    <div class="col-md-12">
        <form>
            <div class="input-group">
                <span class="input-group-btn">

                    <a [routerLink]="['/cadastro']" class="btn btn-primary">
                        Novo foto
                    </a>
                </span>
                <input class="form-control" #textoProcurado (keyup)="0" placeholder="filtrar pelo título da foto">
            </div>
        </form>
    </div>
    <!-- fim col-md-12 -->
</div>
<!-- fim row -->
<br>
<div class="row">
    <painel *ngFor="let foto of fotos | filtroPorTitulo: textoProcurado.value" titulo="{{foto.titulo | uppercase}}" class="col-md-2">
        <a [routerLink]="['/cadastro', foto._id]">
            <foto titulo="{{foto.titulo}}" url="{{foto.url}}"></foto>
        </a>
        <!-- Note que "Ação" não é uma propriedade do nosso componente e sim o evento que foi emitido pelo botao, evento do tipo 'acao'-->
        <botao nome="Remover" estilo="btn-danger btn-block" (acao)="remover(foto)" confirmacao="true"></botao>
        <!-- <button class="btn btn-danger btn-block" (click)="remover(foto);">Remover</button> -->
    </painel>
</div>
<!-- fim row -->